.btn {
  border: 1px solid #1890ff;
  border-radius: 2px;
  padding: 4px 16px;
  width: 200px;
  height: 40px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  background: #1d2cf3;
  cursor: pointer;
}

.add {
  background-color: #1D2CF3;
  color: white;
  width: 300px;
  height: 50px;
}

.delete {
  border: 1px solid #D4380D;
  color: #D4380D;
  background: white;
}